@font-face {
font-family: 'Proxima Nova';
       src: url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regular-webfont.eot?1596839744);
       src: url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regular-webfont.eot?iefix') format('eot'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regular-webfont.woff?1596839744) format('woff'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regular-webfont.ttf?1596839744) format('truetype'),url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regular-webfont.svg#webfont2r5T3sfg') format('svg')
}
@font-face {
       font-family: 'Proxima Nova';
       font-weight: bold;
       src: url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-bold-webfont.eot?1596839744);
       src: url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-bold-webfont.eot?iefix') format('eot'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-bold-webfont.woff?1596839744) format('woff'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-bold-webfont.ttf?1596839744) format('truetype'),url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-bold-webfont.svg#webfont2r5T3sfg') format('svg')
}

@font-face {
       font-family: 'Proxima Nova';
       font-style: italic;
       src: url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regitalic-webfont.eot?1596839744);
       src: url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regitalic-webfont.woff?1596839744) format('woff'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regitalic-webfont.ttf?1596839744) format('truetype'),url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-regitalic-webfont.svg#webfont2r5T3sfg') format('svg')
}
@font-face {
       font-family: 'Proxima Nova';
       font-weight: 300;
       src: url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-light-webfont.eot?1596839744);
       src: url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-light-webfont.eot?iefix') format('eot'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-light-webfont.woff?1596839744) format('woff'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-light-webfont.ttf?1596839744) format('truetype'),url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-light-webfont.svg#webfont2r5T3sfg') format('svg')
}
@font-face {
       font-family: 'Proxima Nova';
       font-weight: 600;
       src: url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-semibold-webfont.eot?1596839744);
       src: url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-semibold-webfont.eot?iefix') format('eot'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-semibold-webfont.woff?1596839744) format('woff'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-semibold-webfont.ttf?1596839744) format('truetype'),url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-semibold-webfont.svg#webfont2r5T3sfg') format('svg')
}
@font-face {
       font-family: 'Proxima Nova';
       font-weight: 900;
       src: url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-extrabold-webfont.eot?1596839744);
       src: url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-extrabold-webfont.woff?1596839744) format('woff'),url(https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-extrabold-webfont.ttf?1596839744) format('truetype'),url('https://googledrive.com/host/0BzaG5a5H75AvblN0WmhYTGRLN1E/proximanova-extrabold-webfont.svg#webfont2r5T3sfg') format('svg')
}